<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="w3-top">
      <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button  w3-white">HOME</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/admin_login/" class="w3-bar-item w3-button w3-blue ">ADMIN LOGIN</a>
        <a href="/student_registration/" class="w3-bar-item w3-button w3-blue ">STUDENT REGISTRATION</a>
        <a href="/student_login/" class="w3-bar-item w3-button w3-blue">STUDENT LOGIN</a>
         <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">CONTACT</a>
       </div>
      <app-student></app-student> --> 
      <!-- <div>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
          <a href="#" class="navbar-brand">bezKoder</a>
          <div class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="tutorials" class="nav-link">Tutorials</a>
            </li>
            <li class="nav-item">
              <a routerLink="add" class="nav-link">Add</a>
            </li>
          </div>
        </nav>
        <div class="container mt-3">
        </div>
      </div> -->
       <router-outlet></router-outlet> 
       <!-- <app-books></app-books> -->
      